<div class="row marketing">
  <table class="table">
  <%= for csv_name <- @csv_name_files do %>
    <h4><%= csv_name %></h4>
    <tbody>
      <%= for csv <- @csv_data do %>
        <tr>
        <%= for c <- csv do %>
          <td><%= c %></td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>
