<div class="row marketing">
  <table class="table">
    <tbody>
    <%= for csv <- @csv_date do %>
      <tr>
      <%= for c <- csv do %>
        <td><%= c %></td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
